<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>New Appointment</title>
	<style>
		body {
			background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAZKGBACawegGori7edGv1fKpEse6WMVjDHygIDtvyOarlqaCTiUbJRpLW0JMQf3_5420&usqp=CAU');
			background-size: cover;
			background-repeat: no-repeat;
			color: white;
		}

		label {
			color: white;
			/* Set label color to white */
		}

		table.table tbody tr td {
			color: white;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/users">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/appointments">Appointments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/billing">Billing Information</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/doctors">Doctors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/patients">Patients</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/prescriptions">Prescriptions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container mt-3">
		<h2 class="mb-4">New Appointment</h2>
		<form th:action="@{/appointments/save}" th:object="${appointment}" method="post">
			<table class="table table-bordered">
				<tr>
					<td>Doctor Name:</td>
					<td><input class="form-control" type="text" th:field="*{doctorName}" required /></td>
				</tr>
				<tr>
					<td>Patient Name:</td>
					<td><input class="form-control" type="text" th:field="*{patientName}" required /></td>
				</tr>
				<tr>
					<td>Date and Time:</td>
					<td><input class="form-control" type="datetime-local" th:field="*{dateTime}" required /></td>
				</tr>
				<tr>
					<td>Purpose:</td>
					<td><input class="form-control" type="text" th:field="*{purpose}" required /></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button class="btn btn-primary" type="submit">Save Appointment</button>
					</td>
				</tr>
			</table>
		</form>

		<br />

		<a class="btn btn-secondary" href="/appointments">Back to Appointments</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>